[submodule "arduino/modbusino"]
	path = arduino/modbusino
	url = git@github.com:kmtaylor/modbusino.git
	ignore = untracked
[submodule "arduino/iBus"]
	path = arduino/iBus
	url = https://github.com/VICLER/iBus.git
