[submodule "arduino/modbusino"]
	path = arduino/lib/modbusino
	url = git@github.com:kmtaylor/modbusino.git
	ignore = untracked
[submodule "arduino/iBus"]
	path = arduino/lib/iBus
	url = https://github.com/VICLER/iBus.git
	ignore = untracked
[submodule "arduino/lib/ArduinoCore-avr"]
	path = arduino/lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
	ignore = untracked
[submodule "arduino/lib/Arduino_Core_STM32"]
	path = arduino/lib/Arduino_Core_STM32
	url = https://github.com/stm32duino/Arduino_Core_STM32.git
	ignore = untracked
[submodule "arduino/lib/CMSIS_5"]
	path = arduino/lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
	ignore = untracked
