[submodule "arduino/modbusino"]
	path = arduino/lib/modbusino
	url = git@github.com:kmtaylor/modbusino.git
	ignore = untracked
[submodule "arduino/iBus"]
	path = arduino/lib/iBus
	url = https://github.com/VICLER/iBus.git
	ignore = untracked
[submodule "arduino/lib/ArduinoCore-avr"]
	path = arduino/lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
	ignore = untracked
